.card {
    width: 320px;
    color: #666;
    user-select: none;

    &__body {
        cursor: pointer;

        &--disabled {
            color: hsla(0,0%,70%,.5);
            cursor: default;
        }
    }

    &__main {
        position: relative;
        height: 408px;
        border: 4px solid #1698d9;
        border-top: none;
        border-radius: 0 0 10px 10px;
        margin-bottom: 15px;
        padding: 0 46px 25px;
        background-color: white;
        overflow: hidden;

        .card__body:hover & {
            border-color: #2ea9e6;
        }

        .card__body--disabled & {
            border-color: #b3b3b3;
        }

        .card__body--disabled:hover & {
            border-color: #b3b3b3;
        }

        .card__body--active & {
            border-color: #d91667;
        }

        .card__body--active:hover & {
            border-color: #e62e7a;
        }

        .card__body--active.card__body--no-hover & {
            border-color: #d91667;  
        }

        .card__body--inactive.card__body--no-hover & {
            border-color: #1698d9;  
        }
    }

    &__header {
        display: flex;
        height: 44px;
        margin-bottom: -1px;
    }

    &__corner {
        width: 43px;
        background: linear-gradient(-45deg,#fff,#fff 28.5px,#1698d9 0,#1698d9 32px,transparent 0);

        .card__body:hover & {
            background: linear-gradient(-45deg,#fff,#fff 28.5px,#2ea9e6 0,#2ea9e6 32px,transparent 0);
        }

        .card__body--disabled & {
            background: linear-gradient(-45deg,#fff,#fff 28.5px,#b3b3b3 0,#b3b3b3 32px,transparent 0);
        }

        .card__body--disabled:hover & {
            background: linear-gradient(-45deg,#fff,#fff 28.5px,#b3b3b3 0,#b3b3b3 32px,transparent 0);
        }

        .card__body--active & {
            background: linear-gradient(-45deg,#fff,#fff 28.5px,#d91667 0,#d91667 32px,transparent 0);
        }

        .card__body--active:hover & {
            background: linear-gradient(-45deg,#fff,#fff 28.5px,#e62e7a 0,#e62e7a 32px,transparent 0);
        }

        .card__body--active.card__body--no-hover & {
            background: linear-gradient(-45deg,#fff,#fff 28.5px,#d91667 0,#d91667 32px,transparent 0);
        }

        .card__body--inactive.card__body--no-hover & {
            background: linear-gradient(-45deg,#fff,#fff 28.5px,#2ea9e6 0,#2ea9e6 32px,transparent 0); 
        }
    }

    &__lead {
        flex-grow: 1;
        padding: 15px 0 0 8px;
        border: 4px solid #1698d9;
        border-bottom: none;
        border-left: none;
        border-radius: 0 12px 0 0;
        background: #fff;

        &--active {
            color: #e62e7a;
            display: none;
        }

        .card__body:hover & {
            border-color: #2ea9e6;
        }

        .card__body--disabled & {
            border-color: #b3b3b3;
        }

        .card__body--disabled:hover & {
            border-color: #b3b3b3;
        }

        .card__body--active & {
            border-color: #d91667;
        }

        .card__body--active:hover & {
            border-color: #e62e7a;

            &--active {
                display: block;
            }

            &--inactive {
                display: none;
            }
        }

        .card__body--active.card__body--no-hover & {
            border-color: #d91667;

            &--active {
                display: none;
            }

            &--inactive {
                display: block;
            }
        }

        .card__body--inactive.card__body--no-hover & {
            border-color: #1698d9;  
        }
    }

    &__heading {
        color: #000;
        font-size: 48px;
        font-weight: bold;
        margin: 0 0 15px;

        .card__body--disabled & {
            color: inherit;
        }
    }

    &__flavour {
        font-size: 24px;
    }

    &__image {
        position: absolute;
        bottom: -95px;
        left: -25px;
        z-index: 0;
        width: 370px;

        .card__body--disabled & {
        opacity: .5;
        }
    }

    &__info {
        font-size: 14px;
        line-height: 16px;
    }

    &__circle {
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 81px;
        height: 81px;
        border-radius: 50%;
        text-align: center;

        .card__body--inactive & {
            background-color: #1698d9;
        }

        .card__body--inactive:hover & {
            background-color: #2ea9e6;
        }

        .card__body--disabled & {
            background-color: #b3b3b3;
        }

        .card__body--disabled:hover & {
            background-color: #b3b3b3;
        }

        .card__body--active & {
            background-color: #d91667;
        }

        .card__body--active:hover & {
            background-color: #e62e7a;
        }

        .card__body--active.card__body--no-hover & {
            background-color: #d91667;  
        }

        .card__body--inactive.card__body--no-hover & {
            background-color: #1698d9;  
        }
    }

    &__weight {
        position: relative;
        top: 20px;
        color: white;
        font-size: 21px;
        line-height: 22px;
    }

    &__amount {
        font-size: 42px;
    }

    &__bottom {
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: white;
    }

    &__sold {
        color: #ff6;
    }

    &__buy {
        color: #1698d9;

        &-button {
            border-bottom: 1px dashed currentColor;
            cursor: pointer;

            &:hover {
                color: #2ea9e6;
            }
        }
    }

    &__bottom-text--inactive {
        display: none;
    }

    &__bottom-buy--inactive {
        display: none;
    }
}