.card {
    width: 320px;

    &__main {
        position: relative;
        height: 408px;
        border: 4px solid #1698d9;
        border-top: none;
        border-radius: 0 0 10px 10px;
        margin-bottom: 15px;
        padding: 0 46px 25px;
        background-color: white;
        overflow: hidden;

        .card__body:hover & {
            border-color: #2ea9e6;
        }
    }

    &__header {
        display: flex;
        height: 44px;
        margin-bottom: -1px;
    }

    &__corner {
        width: 43px;
        background: linear-gradient(-45deg,#fff,#fff 28.5px,#1698d9 0,#1698d9 32px,transparent 0);

        .card__body:hover & {
            background: linear-gradient(-45deg,#fff,#fff 28.5px,#2ea9e6 0,#2ea9e6 32px,transparent 0);
        }
    }

    &__lead {
        color: #666;
        flex-grow: 1;
        padding: 15px 0 0 8px;
        border: 4px solid #1698d9;
        border-bottom: none;
        border-left: none;
        border-radius: 0 12px 0 0;
        background: #fff;

        .card__body:hover & {
            border-color: #2ea9e6;
        }
    }

    &__heading {
        font-size: 48px;
        font-weight: bold;
        margin: 0 0 15px;
    }

    &__flavour {
        font-size: 24px;
    }

    &__image {
        position: absolute;
        bottom: -95px;
        left: -25px;
        z-index: 0;
        width: 370px;
    }

    &__info {
        color: #666;
        font-size: 14px;
        line-height: 16px;
    }

    &__circle {
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 81px;
        height: 81px;
        border-radius: 50%;
        background-color: #1698d9;
        text-align: center;

        .card__body:hover & {
            background-color: #2ea9e6;
        }
    }

    &__weight {
        position: relative;
        top: 20px;
        color: white;
        font-size: 21px;
        line-height: 22px;
    }

    &__amount {
        font-size: 42px;
    }

    &__bottom {
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: white;
    }

    &__sold {
        color: #ff6;
    }

    &__link {
        color: #1698d9;
    }
}