doctype html
html
    head
        title Test task
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        h1 Ты сегодня покормил кота?
        include blocks/item
        +item({
            color: 'blue',
            weight: '0,5',
            flavour: 'с фуа-гра',
            portions: '10',
            gift: 'мышь в подарок',
            bottomText: 'Чего сидишь? Порадуй котэ, ',
            link: 'купи.',
            soldOut: false
          })