:root {
    height: 100%;
    font-weight: 400;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
}

body {
    background: #000 url(../img/background.png);
}

.page {
    height: inherit;
    margin: 0;

    &__container {
        display: flex;
        justify-content: center;
        height: inherit;
    }

    &__inner {
        margin: auto 0;
    }

    &:before {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        content: "";
        background: url(../img/shadow.png) 0 0/100% 100% no-repeat;
    }
}

h1 {
    font-family: Exo;
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    color: white;
    margin-bottom: 0;
}


a {
    text-decoration: none;
    border-bottom: 1px dashed currentColor;
    color: #1698d9;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__item {
        margin: 25px 40px;
    }
}

@font-face {
    font-family: 'Exo';
    src: url("../fonts/Exo2.0-Thin.otf") format('opentype');
}